[user]
	name = Ronak
	email = ronakyadav1609@gmail.com
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[credential]
	credentialStore = secretservice
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = *
[credential "https://huggingface.co"]
	provider = generic
[lfs]
	concurrenttransfers = 3
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
